a {
	color: white;
	text-decoration: none;
}

a:hover {
	color: #474B4F;
}

body {
	background-color: #222629;
	color: white;
}

.company {
	padding-top: 10px;
	padding-left: 270px;
	margin-top: 12px;
	margin-bottom: 0;
	opacity: 0.6;
}


.footer {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #61892F;
	color: white;
}

.header {
	padding-left: 270px;
	padding-right: 100px;
}

header {
	font-size: 13px;
	height: 50px;
	color: white;
}

.image {
	float: right;
	height: 10px;
	display: inline-block;
	margin-right: 50px;
}

.text {
	text-align: left;
	padding-top: 20px;
	padding-left: 270px;
	font-size: 14px;
	color: white;
}